<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .n2{
            margin-left:600px
        }
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top n0" style="background-color:black;color:white">
        <div class="container">
            <div class="a">
                <img src="~/Images/logo.png" width="120" height="40" />
                @Html.ActionLink("GRE Portal", "Index", "Home", new { area = "" }, new { @class = "n1" })
                @if (User.Identity.IsAuthenticated)
                {
                    <span class="n1">
                        <a style="color:white" href="@Url.Action("Dashboard", "Manager")">@User.Identity.Name</a>
                </span>
                    @Html.ActionLink("Feedbacks", "Feedback", "Manager", new { area = "" }, new { @class = "n2" })
                    <span style="margin-left:50px">
                    <input class="btn-danger" type="button" value="Logout" onclick="location.href='@Url.Action("Logout", "Manager")'" /></span>
                }

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p></p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>